<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>400</title>
<style>
  .error{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2px;
  }
</style>
    </head>
    <body>
        <h1 class="error" style="color: red"><%=message%></h1>
    </body>
</html>
